/* Navbar */
.navbar {
  height: 3.125rem;
  background-color: rgba(102, 16, 83, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

/* Avatar */
.avatar {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50%;
  object-fit: cover;
}

/* Home */
.home {
  display: flex;
  padding: 3.125rem 6.25rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 0.625rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
  -moz-box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
  box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
}

.img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  margin: 1.25rem 0rem;
}

.desc {
  color: #333;
  margin-bottom: 1.25rem;
  line-height: 1.5625rem;
}

.cardButton {
  border: none;
  border-radius: 0.625rem;
  background-color: rgba(53, 16, 102, 0.678);
  padding: 0.625rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Post */
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

.postDesc {
  padding: 0 6.25rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: gray;
  margin-top: 3.125rem;
}

.postLongDesc {
  padding: 6.25rem;
  padding-top: 3.125rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/* Login */
.login {
  height: calc(100vh - 3.125rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
  -moz-box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
  box-shadow: 0rem 0.3125rem 2.0625rem -1.3125rem rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or {
  border: 0.125rem solid lightgray;
  border-radius: 50%;
  padding: 0.625rem;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line {
  width: 0.03125rem;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton {
  width: 9.375rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.3125rem;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: #507cc0;
}

.github {
  background-color: black;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 12.5rem;
  padding: 0.9375rem 1.25rem;
  margin-bottom: 1.25rem;
}

.submit {
  width: 12.5rem;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.loginTitle {
  position: absolute;
  top: 9.375rem;
  color: lightgray;
}

/* Link */
.link {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 62rem) {
  .card {
    width: 100%;
    margin-bottom: 3.125rem;
  }

  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }

  .loginTitle {
    display: none;
  }

  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 1.25rem;
  }

  .right {
    padding: 1.25rem;
  }

  .line {
    height: 0.03125rem;
    width: 100%;
    max-width: 18.75rem;
  }
}
